.registro {
    width: 70%;
    border: 1px solid black;
    background-image: url('../../assets/images/register.jpg');
    position: relative;
}


.volver {
    position: absolute;
    top: 105%;
    right: 1%;
}

input.ng-valid.ng-touched{
    border: 1px solid cornflowerblue;
}
input.ng-invalid.ng-touched
{
    border: 1px solid lightcoral;
}