<div>
    <div class="table-responsive table-bordered table-hover">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Biografía</th>
                </tr>
            </thead>
            <tbody *ngFor="let autor of arrAutores">
                <tr>
                    <td>{{autor.id}}</td>
                    <td>{{autor.nombre}}</td>
                    <td>{{autor.biografia}}</td>
                    <td>
                        <button class=" btn btn-success btn-sm ml-1"
                            [routerLink]="['/autores/editar/'+autor.id]">Editar</button>
                        <button class="btn btn-danger btn-sm ml-1 mt-1" (click)="onDelete(autor.id)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>