<div class="container">
    <div class="col col-4">
        <img [src]="arrUser.foto">
        <h3 class="">{{arrUser.usuario}}</h3>
        <button>Configurar</button>
    </div>
    <h2>Tus lecturas</h2>

    <h3>Leyendo</h3>
    <div *ngIf="arrReading.length == 0">Lee Burro</div>
    <div *ngFor="let comic of arrReading">

        <h4>{{comic.titulo}}</h4>
        <h4>{{comic.autor}}</h4>
        <img [src]="comic.linkFoto">
        <p>{{comic.descripcion}}
        </p>
        <label>Estado: {{comic.estado}}</label>

        <button [routerLink]="['/galeria/view', comic.id]">LEER</button>
        <button [value]="comic.id" (click)="onDelete($event)">Borrar</button>
        <div>
            <select id="puntuacion" (click)="pointing(comic.id, $event)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label>Puntuación:</label>
        </div>

    </div>
    <h3>Leidos</h3>
    <div *ngIf="arrRead.length == 0">Lee Burro</div>

    <div *ngFor="let comic of arrRead">

        <h4>{{comic.titulo}}</h4>
        <h4>{{comic.autor}}</h4>
        <img [src]="comic.linkFoto">
        <p>{{comic.descripcion}}
        </p>
        <label>Estado: {{comic.estado}}</label>
        <label>Puntuación:</label>

        <button [routerLink]="['/galeria/view', comic.id]">LEER</button>
        <button [value]="comic.id" (click)="onDelete($event)">Borrar</button>
        <div>
            <form>
                <p class="clasificacion">
                    <input id="radio1" type="radio" name="estrellas" value="5">
                    <!--
                  --><label for="radio1">★</label>
                    <!--
                  --><input id="radio2" type="radio" name="estrellas" value="4">
                    <!--
                  --><label for="radio2">★</label>
                    <!--
                  --><input id="radio3" type="radio" name="estrellas" value="3">
                    <!--
                  --><label for="radio3">★</label>
                    <!--
                  --><input id="radio4" type="radio" name="estrellas" value="2">
                    <!--
                  --><label for="radio4">★</label>
                    <!--
                  --><input id="radio5" type="radio" name="estrellas" value="1">
                    <!--
                  --><label for="radio5">★</label>
                </p>
            </form>
            <label>Puntuación:</label>
        </div>

    </div>

</div>