<div class="container">
    <div class="col col-4">
        <img [src]="arrUser.foto">
        <h3 class="">{{arrUser.usuario}}</h3>
        <button>Configurar</button>
    </div>
    <div class="">
        <h2>Tus lecturas</h2>
        <h4>Daredevil VS Hitler</h4>
        <h4>Woodro</h4>
        <img src="https://1.bp.blogspot.com/-ceMc0iZBLz4/Vor_KDpU2qI/AAAAAAAAOQc/UaHT80HrUAM/s1600/Daredevil01.jpg">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus omnis et a nesciunt mollitia expedita
            tempora enim rem facere magni eum voluptatibus doloribus id, fugit quidem veritatis laboriosam. Repellendus.
        </p>
        <label>Estado:</label>
        <p>Leyendo</p>
        <label>Puntuación:</label>
        <p>ver menu estrellas</p>
        <button>LEER</button>

    </div>

</div>