<header class="container-fluid col-12 text-center d-flex align-items-center">
    <div class="container cabecera">
        <nav class="">
            <ul class="d-flex justify-content-between ">
                <li><a href="http://localhost:4200/perfil">Perfil</a></li>
                <li><a href="http://localhost:4200/galeria">Galería</a></li>
                <li><a href=""> <i class="fas fa-power-off" (click)="logOut()"></i></a></li>
            </ul>
        </nav>
    </div>
</header>



<router-outlet></router-outlet>

<footer class="container-fluid">
    <div class="container d-flex justify-content-between">
        <p>Copyright &copy; 2020 - <a href="#">Aviso Legal</a> - <a href="#">Cookies</a></p>
    </div>
</footer>