<div class="container">

    <div class="form-row">
        <div class="bloque col">
            <button class="btn btn-lg btn-dark m-3" [routerLink]="['/admin/comics']">Lista de Cómics</button>
        </div>

        <div class="bloque col">
            <button class="btn btn-lg btn-secondary m-3" [routerLink]="['/admin/comics/crear']">Crear Cómic</button>
        </div>
    </div>

    <div class="bloque">
        <button class="btn btn-lg btn-primary m-3" [routerLink]="['/admin/autores']">Lista de Autores</button>
    </div>


</div>