<div class="container">

    <div class="row">

        <div class="row d-flex">
            <div class="m-3 d-flex justify-content-end">
                <select class="selectpicker m-1" name="categoria" (change)="onChange($event)" [(ngModel)]="cat">
                    <option value="" selected>Todo</option>
                    <option value="aventuras">Aventuras</option>
                    <option value="comico">Cómico</option>
                    <option value="negro">Negro</option>
                    <option value="novela grafica">Novela Gráfica</option>
                    <option value="terror">Terror</option>
                </select>

                <input type="text" placeholder="Buscador..." class="form-control m-1" [(ngModel)]="words">
                <button class="btn btn-outline-danger m-1" (click)="onBoth(cat, words)">BUSCAR</button>
            </div>
        </div>


        <h2 class="text-center col-12">GALERIA</h2>

        <div *ngFor="let comic of arrComics" class="comic col-lg-4 col-sm-12 h-100 mt-2">
            <img [src]="comic.linkFoto">
            <h3>{{comic.titulo}}</h3>
            <p> <span>Autor</span>: {{comic.autor}}</p>
            <p><span> Año</span>: {{comic.ano | date}}</p>
            <p><span> Género</span>: {{comic.genero}}</p>
            <p><span> Escuela</span>: {{comic.escuela}}</p>
            <p><span> Editorial</span>: {{comic.editorial}}</p>
            <button class="btn btn-outline-danger" [routerLink]="['/galeria/view', comic.id]">LEER</button>
        </div>

    </div>
</div>
<!-- (click)=" viewerComic(comic.id)"-->
<!--(keyup)=" onChangeWords($event)"-->
<!--(change)="onChange($event)"-->