<div class="container">

    <div class="row">
        <!--tengo que aplicar los filtros    ////onBoth(cat, words)-->
        <select name="categoria" (change)="onChange($event)" [(ngModel)]="cat">
            <option value="">Todo</option>
            <option value="aventuras">Aventuras</option>
            <option value="comico">Cómico</option>
            <option value="negro">Negro</option>
            <option value="novela grafica">Novela Gráfica</option>
            <option value="terror">Terror</option>
        </select>
        <input type="text" placeholder="Buscador..." [(ngModel)]="words">
        <button (click)="onBoth(cat, words)">BUSCA</button>


        <h2 class="text-center col-12">GALERIA</h2>

        <div *ngFor="let comic of arrComics" class="col-4 h-100">
            <img [src]="comic.linkFoto">
            <h3>{{comic.titulo}}</h3>
            <p>Autor:{{comic.autor}}</p>
            <p>Dibujante:{{comic.dibujante}}</p>
            <p>Año:{{comic.ano}}</p>
            <p>Genero:{{comic.genero}}</p>
            <p>Escuela:{{comic.escuela}}</p>
            <p>Editorial:{{comic.editorial}}</p>
            <button>LEER</button>
        </div>

    </div>
</div>

<!--(keyup)="onChangeWords($event)"-->
<!--(change)="onChange($event)"-->