<!--  -->

<div class="container">

    <header class="hero">

    </header>

    <div class="inicio d-flex flex-row">

        <div class="about pt-5">
            <img src="../../assets/images/komikalogo2.png" alt="" class="logo">
            <h3>Cómics en búsqueda y captura</h3>

            <p>
                ¿Cansado de no encontrar lo que necesitas? Todos los cómics que puedas desear en un solo sitio.
            </p>
        </div>

        <div class="formulario p-5">
            <form novalidate [formGroup]="login" (ngSubmit)="onSubmit()">
                <p>Acceso:</p>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="E-mail" formControlName="email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Contraseña" formControlName="password">
                </div>
                <button type="submit" class="btn btn-outline-danger" [disabled]="!login.valid">Entrar</button>
                <a href="" class="btn btn-sm btn-link btn-xs-block" [routerLink]="['/registro']">Regístrate</a>
            </form>
        </div>
    </div>

    <section class="servicios d-flex flex-row p-2 m-2">
        <article>
            <h4>Un catálogo sin fin</h4>
            <p>Tenemos la mayor biblioteca de cómics, mangas y tebeos disponible en la web, todas las editoriales, la
                mejor calidad. Un catálogo siempre atento a las novedades. </p>
            <p><strong>Es imposible que no encuentres
                    lo que
                    busques</strong></p>
        </article>

        <article>
            <h4>Precio imbatible</h4>
            <p>¿Por qué perder el tiempo buscando cómics en los estercoleros ilegales de internet?
                ¿Lees más de lo que el bolsillo te permite ir a la tienda? </p>
            <p><strong>Cuota por menos de unas posturas de jato</strong>
            </p>
        </article>

        <article>
            <h4>Tu opinión importa</h4>
            <p>Comenta, puntúa y conoce de primera mano que piensa el resto de usuarios. te recomendamos lo que mejor se
                ajuste a tus gustos de mierda.</p>
            <p><strong>Estamos a tu servicio </strong> </p>
        </article>
    </section>
    <br>
    <br>
    <br>

</div>