<div class="d-flex flex-row">

    <div class="col-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fuga architecto explicabo quidem!
        Temporibus minima inventore, dicta praesentium dolore maiores? Corporis distinctio nobis voluptates, atque
        adipisci
        asperiores vero nemo officia?</div>

    <ngx-extended-pdf-viewer *ngFor="let comic of arrComics" class="col-11" [src]="comic.archivo"
        useBrowserLocale=" true" [showDownloadButton]="false" [showOpenFileButton]="false" [showPrintButton]="false"
        [zoom]="'page-fit'" [spread]="'odd'" delayFirstView=1000 height="90vh" [page]="4">
    </ngx-extended-pdf-viewer>
</div>
<div style="height: 100px;"></div>


<!-- [src]=pdfSrc-->