<accordion class="acordeon" [isAnimated]="true">
    <accordion-group heading="Sinopsis" *ngFor="let comic of arrDescripcion" class="col-12">
        {{comic.descripcion}}
    </accordion-group>
</accordion>

<ngx-extended-pdf-viewer class="col-12" [src]="linkArchivo[0].archivo" useBrowserLocale=" true"
    [showDownloadButton]="false" [showOpenFileButton]="false" [showPrintButton]="false" [zoom]="'page-fit'"
    [spread]="'odd'" delayFirstView=1000 height="90vh" [showPresentationModeButton]="true"
    (pageChange)="savePage($event)" [page]="pagina.pagina">
</ngx-extended-pdf-viewer>
<div style="height: 100px;"></div>




<!-- [src]=pdfSrc-->