<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

        <div class=" form-group">
            <label for="titulo">Nombre: </label>
            <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre">
        </div>

        <div class="form-group">
            <label for="">Biografía:
            </label>
            <textarea type="text" id="biografia" name="biografia" cols="30" rows="10" class="form-control"
                formControlName="biografia"> </textarea>

            <button class="btn btn-success mt-2" type="submit">Enviar</button>

        </div>
    </form>
    <br><br><br><br>
</div>